<div class="container how-to">
  <div class="row">
    <div class="intro-message">
      <h1 class="haus-header">Hau to use</h1>
      <ol>
        <li>Download and sign up for <a href="http://www.inboxtheapp.com/">InboxTheApp</a></li>
        <li>Sign up <a href="/">here</a> using your InboxTheApp handle</li>
        <li>Invite haus members to join your haus using your pin</li>
        <li>Start a 1-on-1 chat with @hausthebott in the InboxTheApp app</li>
        <li>@hausthebott will take care of the rest. Enjoy</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <a class="home-link" href="/">Home</a>
  </div>
</div>
