/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: rgb(15, 189, 231);
  font-family: 'Josefin Sans' sans-serif;
}

.haus-header {
  color: white;
  font-family: 'Righteous' cursive;
  display: inline-block;
}

.list-unstyled {
  list-style: none;
}

.haus-nav-list li {
  display: inline-block;
  font-size: 24px;
  padding: 10px 10px;
}

a {
  color: white;
  text-decoration: underline;
}

.haus-nav-list li a:hover {
  color: rgb(46, 67, 77);
}

img.logo {
  position: relative;
  right: -22px;
  top: -22px;
  width: 40px;
}

#user_signup_form {
}

#user_signup_form input[type=text] {
  margin: 0 auto;
  width: 300px;
}

#user_signup_form input[type=password] {
  margin: 0 auto;
  width: 300px;
}

#user_signin_form input[type=text] {
  margin: 0 auto;
  width: 300px;
}

#user_signin_form input[type=password] {
  margin: 0 auto;
  width: 300px;
}

#user_signup_form .first-house {
  margin-left: 5px;
}

#user_signup_form .haus-submit {
  font-size: 16px;
}

#user_signin_form .haus-submit {
  font-size: 16px;
}

.haus-nav-list li.house-pin {
  display: none;
  font-size: 12px;
  color: white;
}

.haus-nav-list li.house-pin.house-pin-show {
  display: inline-block;
}

#user_signin_form {
  display: none;
}

.show-sign-up-form {
  margin-top: 10px;
}

.main-haus-div {

  width: 80%;
  margin: 100px auto;
}

.add-item-div {
  width: 20%;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

.list-div {
  width: 40%;
  display: inline-block;
  margin-left: 30px;
}

.how-to a {
  color: white;
}

.how-to ol {
  margin-top: 50px;
}

.how-to li {
  font-size: 1.5em;
  margin: 10px;
}

.home-link {
  font-size: 1.5em;
}


